MYSQL_ROOT_PASSWORD=replace-with-local-root-password
MYSQL_DATABASE=finguard
MYSQL_USER=finguard
MYSQL_PASSWORD=replace-with-local-app-password
MYSQL_PORT=3306
RABBITMQ_HOST=127.0.0.1
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_USERNAME=finguard
RABBITMQ_PASSWORD=replace-with-local-rabbit-password
RABBITMQ_VIRTUAL_HOST=/
